<!DOCTYPE html>
<html>
    <body>
        <form action="{% url 'collatz_sequence-form' %}" method="POST">
            {% csrf_token %}
            <input type="textarea" placeholder="enter a number" name="string">
            <input type="submit" placeholder="submit">
        </form>
    </body>
    </html>
