<!DOCTYPE html>
<html>
    <body>
        <center>
        <h1>Random Arithmetic Operation</h1>
        <form action="{% url 'random' %}" method="post">
            {% csrf_token %}
            {{ num1 }} {{ operation }} {{ num2 }}
            <input type="hidden" name="num1" value="{{num1}}">
            <input type="hidden" name="num2" value="{{num2}}">
            <input type="hidden" name="operation" value="{{operation}}">
            <label for="result"></label>
            <input type="text" name="result" id="result">
            <input type="submit" value="check">
        </form>
        {% if sucess %}
        <h3>you are genius</h3>
        <p>{{random_op}}</p>
        {% else %}
        <h3>Try again</h3>
        {% endif %}
    </center>
    </body>
    </html>
