<!DOCTYPE html>
<html>
    <body>
        <h1>Rot13</h1>
        <p>type some text in the box and click the button to convert!</p>
        <form action="{% url 'rot13-form' %}" method="POST">
            {% csrf_token %}
            <label for="text">Your original text:</label><br>
            <input type="textarea" placeholder="{{original_text}}" name="text" id="text">
            <input type="submit" value="convert">
        </form>
        {% if converted_text %}
        <h3>your text after conversion:</h3>
        <p>{{converted_text}}</p>
        {% else %}
        <h3>Click the button to convert some text!</h3>
        {% endif %}
    </body>
    </html>
