<!DOCTYPE html>
<html>
    <body>
        <h3>Find a student by id</h3>
        <form method="POST" action="{% url 'search' %}">
            {% csrf_token %}
            <label for="id"> ID: </label>
            <input type="text" id="id" name="id">
            <input type="submit" value="SEARCH">
        </form>
    </body>
</html>
