<!DOCTYPE html>
<html>
    <h3>All students</h3>
    {% for student in students %}
    <a href="{% url 'student_detail' student.id %}">{{student.id}}. {{student.name}}</a><br/>
    {% endfor %}
</html>
