<!DOCTYPE html>
<html>
    <body>
        <h3>{{student.name}}</h3>
        <table>
            <tr>
                <th>Subject</th>
                <th>Score</th>
            </tr>
            {% for mark in student.mark_set.all %}
            <tr>
                <td>{{mark.name}}</td>
                <td>{{mark.score}}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
