<!DOCTYPE html>
<html>
    <body>
        <center>
        <h1>Enter Password</h1>
        <form action="{% url 'password_check' %}" method="post">
            {% csrf_token %}
            <label for="password">Password:</label><br>
            <input type="password" id="password" name="password"><br><br>
            <label for="password2">Re enter Password:</label><br><br>
            <input type="password" id="password2" name="password2"><br><br>
            <input type="submit" placeholder="Submit">
          </form>
        </center>
                    
    </body>
    </html>